* {
    margin: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
}




body {
    background-color: grey;
    line-height: 1.7;
}

.content,
.hero,
.pemateri:hover {
    transform: translateY(4px);
}

nav {
    background: blue;
    padding: 15px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
    flex-wrap: wrap;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.menu a:hover {
    color: grey;
}

.upper  {
    padding: 10px 20px;
    background: linear-gradient( #2563eb, grey);
    margin: 10px 10px auto;
    padding: 20%;
    border-radius: 40px;

}

.upper h1 {
    overflow: hidden;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;     
}

.upper h4 {
    overflow: hidden;
    margin-top: 20px;
    font-weight: 100px;
}

.foto-img {
    margin: 40px auto;
    max-width: 800px;
}

.inul {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.pemateri {
    width: 30%;
}

.pemateri img {
    width: 150px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    flex-wrap: wrap;
}
.pemateri h4 {
    margin-top: 10px;
    font-weight: 300px;
}

.container {
    display: grid;
    gap: 10px;
    flex-wrap: wrap;
}


.content {
    background-color: #2563eb;
    border: solid 5px;
    margin: 10px;
    padding: 25px;
    border-radius: 25px;

}

.content h2 {
    margin-bottom: 10px;

}

.hero {
    margin: 30px auto;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    background: #2563eb ;
    padding: 40px;
    border-radius: 25px;
    border: solid 3px;
    flex-wrap: wrap;
}

.hero :hover {
    transform: scale(1.05);
}
 .hero h2 {
    margin-bottom: 30px;
 }

 .hero label {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700; 

}

.hero input {
    width: 50%;
    padding: 5px;
    border: solid 2px;
    margin: 8px 2px 10px 5px;
    border-radius: 100px;
    color: #2563eb;
}

.hero input:focus {
    outline: none;
    border-color: rgb(174, 248, 28);
}

.btn-kirim {
    background: red;
    width: 100px;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-kirim:hover {
     background: rgb(103, 253, 103);
}

.btn-kirim:focus {
    border-color: #2563eb;
}

.ig-link {
    color: blue;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none ;
}

h3 {
    margin: 10px 20px;
    
}    

footer {
    padding: 10px;
    background: #2563eb;
    color: aliceblue;
    font-family:monospace;
}